<div class="row justify-content-center">
    <div class="mt-3 col-6 card">
        <div class="card-body">
            <form [formGroup]="changePasswordForm">
                <div class="form-group">
                    <input type="email" class="form-control m-0" formControlName="currentEmail" placeholder="Your Email">
                    <div *ngIf="changePasswordForm.controls.currentEmail.invalid && (changePasswordForm.controls.currentEmail.touched || changePasswordForm.controls.currentEmail.dirty)" class="err-msg">
                        <mat-error *ngIf="changePasswordForm.controls.currentEmail.errors.required">Please enter your email</mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control m-0" formControlName="currentPass" placeholder="Current Password">
                    <div *ngIf="changePasswordForm.controls.currentPass.invalid && (changePasswordForm.controls.currentPass.touched || changePasswordForm.controls.currentPass.dirty)" class="err-msg">
                        <mat-error *ngIf="changePasswordForm.controls.currentPass.errors.required">Please enter your current Password</mat-error>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control m-0" formControlName="newPass" placeholder="New Password">
                    <div *ngIf="changePasswordForm.controls.newPass.invalid && (changePasswordForm.controls.newPass.touched || changePasswordForm.controls.newPass.dirty)" class="err-msg">
                        <mat-error *ngIf="changePasswordForm.controls.newPass.errors.required">Please enter your new Password</mat-error>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <input type="password" class="form-control m-0" formControlName="confirmPass" placeholder="Confirm Password">
                    <div *ngIf="changePasswordForm.controls.confirmPass.invalid && (changePasswordForm.controls.confirmPass.touched || changePasswordForm.controls.confirmPass.dirty)">
                        <mat-error *ngIf="changePasswordForm.controls.confirmPass.errors.required || cpwd.hasError('invalid')">
                            Password not match
                        </mat-error>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <button [disabled]="!changePasswordForm.valid" type="button" class="btn btn-primary btn-sm waves-light" mdbWavesEffect (click)="changePassword(changePasswordForm)">Change Password</button>
</div>