<div class="xop-section">
    <div class="text-center satisfied-customer">
        <h1><b>Our Satisfied Customers</b></h1>
    </div>

    <!-- <ul class="xop-grid">
        <li>
            <div class="xop-box xop-img-1">
                <a href="#">
                    <div class="xop-info">
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="xop-box xop-img-2">
                <a href="#">
                    <div class="xop-info">
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="xop-box xop-img-3">
                <a href="#">
                    <div class="xop-info">
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="xop-box xop-img-4">
                <a href="#">
                    <div class="xop-info">
                    </div>
                </a>
            </div>
        </li>
    </ul> -->
</div>



<!-- CAROUSEL CODE -->
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide main-carousel" [animation]="'slide'">
    <!-- [animation]="'slide'" -->

    <mdb-carousel-item style="height:200px; background-color:#1a78c2;">
        <div class="m-0 row justify-content-center view w-100">
            <div class="col-4">
                <img class="m-auto rounded-circle" src="assets/images/customer0.jpg" alt="Generic placeholder image" width="180px" height="180px">
            </div>
            <div class="col-4">
                <img class="m-auto rounded-circle" src="assets/images/customer1.jpg" alt="Generic placeholder image" width="180px" height="180px">
            </div>
            <div class="col-4">
                <img class="m-auto rounded-circle" src="assets/images/customer2.jpg" alt="Generic placeholder image" width="180px" height="180px">
            </div>
        </div>
    </mdb-carousel-item>

    <mdb-carousel-item style="height:200px; background-color:#1a78c2;">
        <div class="m-0 row justify-content-center second-carousel view w-100">
            <div class="col-4">
                <img class="m-auto rounded-circle" src="assets/images/customer3.jpg" alt="Generic placeholder image" width="180px" height="180px">
            </div>
            <div class="col-4">
                <img class="m-auto rounded-circle" src="assets/images/customer4.jpg" alt="Generic placeholder image" width="180px" height="180px">
            </div>
            <div class="col-4">
                <img class="m-auto rounded-circle" src="assets/images/customer5.jpg" alt="Generic placeholder image" width="180px" height="180px">
            </div>
        </div>

    </mdb-carousel-item>
</mdb-carousel>