@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';

/* body {
    padding: 0 0 38px;
    background: url(/assets/images/bg.png) top center no-repeat;
    background-size: cover;
} */

.err-msg {
    font-size: 12px;
}